/* star rule "catch all": its gonna effect all element, every SIGNLE HTML element */
/*
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: black;
    color: white;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  
}
a:link{
    color: yellow;
}

a:visited{
    color:yellow;
  }

.navbar li {
    font-size: 20px;
    padding: 15px 50px;
    color: yellow;
    display: inline;
    
}

video{
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
}

.logo img{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}
*/

body{
    margin:0;
    padding: 0;
    background-color: gray;
}

nav{
    width: 100%;
    background: black;
    overflow: auto;
}

ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style-type: none;
    /* display: flex;
  
    justify-content: center; */
}

li{
    float: left;
}

.logo img{
    position: absolute;
    height: 3rem;
    
}

nav a{
    width:100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-align: center;
}

nav a:hover{
    background: purple;
    transition: 0.5s;
    text-transform: uppercase;
}